@model IEnumerable<Machine>


<div class="card shadow border-0 mb-5">
    <div class="card-header bg-secondary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Upcoming Maintenance Report</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row py-2">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Machine Code</th>
                        <th>Machine Name</th>
                        <th>Location</th>
                        <th>Working Hours</th>
                        <th>Last Maintenance Date</th>
                        <th>Next Maintenance Date</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var machine in Model@*.OrderBy(m => m.ID)*@)
                    {
                        <tr>
                            <td>@machine.MachineCode</td>
                            <td>@machine.MachineName</td>
                            <td>
                                @foreach (var machineLocation in machine.MachineLocations)
                                {
                                    @machineLocation.Location.LocationName

                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var machineLocation in machine.MachineLocations)
                                {
                                    @machineLocation.WorkingHours

                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var machineLocation in machine.MachineLocations)
                                {
                                    @machineLocation.LastMaintenanceDate.Date.ToString("yyyy-MM-dd")

                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var machineLocation in machine.MachineLocations)
                                {
                                    @machineLocation.NextMaintenanceDate.Date.ToString("yyyy-MM-dd")

                                    <br />
                                }
                            </td>


                           
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
         <div class="row py-3">
                <div class="col-md-6 m-auto ">
                    <a asp-controller="Machine" asp-action="index" class="form-control btn btn-secondary">Back To Machine List</a>

                </div>
    </div>
</div>
